    <!-- About Section -->
    <section id="company" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The company</h2>
                <p>
                    Science Integration had taken quite a different approach to provide an online community service for local audiences here in Korea back in 2006 through 2009. Since the success of tech business largely depends on the technology, we've also changed and adjusted our way of thinking to take the difficulties in our stride. Perhaps the most valuable thing we've learned is that the importance of balance or equilibrium of what we have. We strongly believe in it for our long term success.
                </p>
            </div>
        </div>
    </section>