    <!-- Download Section -->
    <section id="product" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>The product</h2>
                    <p>
                        We're trying to add awesomeness to your social network of acquaintances who drift in and out of contact.
                        They are carrying on around you with their own colors, bodies, and craziness.

                        Everyone seems to pretend they know everything but we live in a universe so vast that our planet is literally like a single grain of sand in the ocean compared to the rest of the universe - we know nothing, less then nothing if that’s possible.

                        We want to help expanding your imagination.
                    </p>
                    <a href="https://hanlingo.com/" class="btn btn-default btn-lg">Visit us later.</a>
                </div>
            </div>
        </div>
    </section>